* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background: rgb(10, 10, 10);
  padding: 20px;
  border-radius: 10px;
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(145, 13, 13, 0.63),
    5px 5px 15px rgba(2, 235, 99, 0.521);
  background-color: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 125px;
}
form input.operator{
  color: rgba(255, 238, 0, 0.685);
  font-weight: bold;
}